*txt
writeup/tables
writeup/plots
computed_objects
writeup/param*
writeup/unused
code/data
analysis/unused
../README.md
backups/
code/
data/
onenote/
writeup/params.tex
*aux
*bbl
*blg
*log
*out
writeup/sample.html
.Rhistory
*~
*pdf
*unused*
forex
raw
transformed
etl/tables/*
